<a href="https://colab.research.google.com/github/imadangada/covid-19-data-analysis-with-python/blob/main/imad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import itertools
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

In [ ]:
import os 
os.getcwd()

'/content'

In [ ]:
from google.colab import files
files.upload()

Saving who2.csv to who2.csv

{'who2.csv': b'\xef\xbb\xbfName,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours\r\nUnited States of America,Americas,35010407,10577.08,618994,187.01,78722,609022,183.99,2759,0.83,387\r\nBrazil,Americas,19953501,9387.26,245839,115.66,15143,557223,262.15,6721,3.16,389\r\nArgentina,Americas,4947030,10945.78,87860,194.4,11183,106045,234.63,1940,4.29,273\r\nColombia,Americas,4801050,9435.49,64701,127.16,6636,121216,238.23,2034,4,218\r\nMexico,Americas,2861498,2219.37,107060,83.04,6506,241279,187.14,2684,2.08,245\r\nPeru,Americas,2114445,6412.88,9440,28.63,1244,196518,596.02,545,1.65,80\r\nChile,Americas,1618457,8466.42,7367,38.54,605,35640,186.44,489,2.56,24\r\nCanada,Americas,1430483,3790.15,3141,8.32,0,26592,70.46,39,0.1,0\r\nEcuador,Americas,487702,2764.27,3969,22.5,104,31644,179.36,190,1.08,10\r\nBolivia (Plurinational State of),Americas,474538,4065.25,5356,45.88,639,17859,152.99,187,1.6,20\r\nParaguay,Americas,453031,6351.61,3129,43.87,333,15086,211.51,385,5.4,44\r\nPanama,Americas,436812,10123.65,6368,147.59,337,6842,158.57,74,1.72,9\r\nCuba,Americas,413251,3648.49,64196,566.77,9629,2993,26.42,501,4.42,80\r\nCosta Rica,Americas,410180,8052.03,8992,176.52,1020,5059,99.31,78,1.53,11\r\nUruguay,Americas,381715,10988.62,1131,32.56,146,5972,171.92,36,1.04,6\r\nGuatemala,Americas,373047,2082.25,17824,99.49,2789,10483,58.51,307,1.71,35\r\nDominican Republic,Americas,342850,3160.52,2352,21.68,190,3968,36.58,23,0.21,5\r\nVenezuela (Bolivarian Republic of),Americas,307570,1081.62,6651,23.39,897,3623,12.74,114,0.4,16\r\nHonduras,Americas,300572,3034.67,10125,102.23,3461,7902,79.78,252,2.54,68\r\nPuerto Rico,Americas,147820,5166.99,3499,122.31,169,2585,90.36,16,0.56,4\r\nEl Salvador,Americas,87498,1348.99,1719,26.5,878,2663,41.06,86,1.33,12\r\nJamaica,Americas,53543,1808.17,1402,47.35,115,1203,40.63,24,0.81,3\r\nTrinidad and Tobago,Americas,39039,2789.52,1376,98.32,109,1092,78.03,49,3.5,8\r\nFrench Guiana,Americas,30449,10194.45,635,212.6,120,189,63.28,10,3.35,0\r\nSuriname,Americas,25439,4336.45,536,91.37,37,652,111.14,18,3.07,1\r\nMartinique,Americas,23667,6306.74,6452,1719.32,1228,147,39.17,43,11.46,4\r\nGuyana,Americas,22619,2875.72,438,55.69,22,547,69.54,17,2.16,1\r\nGuadeloupe,Americas,21125,5279.61,2812,702.78,0,283,70.73,3,0.75,0\r\nHaiti,Americas,20307,178.09,191,1.68,0,560,4.91,8,0.07,0\r\nBahamas,Americas,15046,3826.12,719,182.84,35,292,74.25,8,2.03,1\r\nBelize,Americas,14163,3561.87,180,45.27,0,337,84.75,4,1.01,0\r\nCura\xc3\xa7ao,Americas,13692,8344.05,392,238.89,23,127,77.4,1,0.61,0\r\nAruba,Americas,11807,11058.76,402,376.52,42,111,103.97,2,1.87,1\r\nNicaragua,Americas,7890,119.1,298,4.5,298,196,2.96,1,0.02,1\r\nSaint Lucia,Americas,5646,3074.71,117,63.72,14,89,48.47,1,0.54,0\r\nUnited States Virgin Islands,Americas,4663,4465.41,260,248.98,0,39,37.35,4,3.83,0\r\nBarbados,Americas,4417,1537.02,64,22.27,10,48,16.7,0,0,0\r\nSint Maarten,Americas,2798,6524.88,75,174.9,28,34,79.29,0,0,0\r\nSaint Martin,Americas,2797,7235.06,218,563.9,0,30,77.6,0,0,0\r\nBermuda,Americas,2586,4152.68,48,77.08,18,33,52.99,0,0,0\r\nBritish Virgin Islands,Americas,2500,8268.02,111,367.1,0,31,102.52,6,19.84,0\r\nTurks and Caicos Islands,Americas,2486,6420.79,20,51.66,0,18,46.49,0,0,0\r\nSaint Vincent and the Grenadines,Americas,2297,2070.49,17,15.32,0,12,10.82,0,0,0\r\nBonaire,Americas,1683,8046.86,17,81.28,0,17,81.28,0,0,0\r\nSaint Barth\xc3\xa9lemy,Americas,1335,13505.31,270,2731.41,0,1,10.12,0,0,0\r\nAntigua and Barbuda,Americas,1303,1330.56,15,15.32,0,43,43.91,0,0,0\r\nCayman Islands,Americas,644,979.91,4,6.09,1,2,3.04,0,0,0\r\nSaint Kitts and Nevis,Americas,600,1127.99,27,50.76,6,3,5.64,0,0,0\r\nDominica,Americas,218,302.82,9,12.5,0,0,0,0,0,0\r\nGrenada,Americas,169,150.19,4,3.55,0,1,0.89,0,0,0\r\nAnguilla,Americas,114,759.9,1,6.67,0,0,0,0,0,0\r\nFalkland Islands (Malvinas),Americas,61,1751.36,1,28.71,0,0,0,0,0,0\r\nSaint Pierre and Miquelon,Americas,28,483.18,0,0,0,0,0,0,0,0\r\nMontserrat,Americas,21,420.08,0,0,0,1,20,0,0,0\r\nSint Eustatius,Americas,20,637.15,0,0,0,0,0,0,0,0\r\nSaba,Americas,7,362.13,0,0,0,0,0,0,0,0\r\n'}

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("who2.csv")

In [ ]:
data.head()

                       Name  ... Deaths - newly reported in last 24 hours
0  United States of America  ...                                      387
1                    Brazil  ...                                      389
2                 Argentina  ...                                      273
3                  Colombia  ...                                      218
4                    Mexico  ...                                      245

[5 rows x 12 columns]

In [ ]:
data.describe()

       Cases - cumulative total  ...  Deaths - newly reported in last 24 hours
count              5.600000e+01  ...                                 56.000000
mean               1.387297e+06  ...                                 34.928571
std                5.364471e+06  ...                                 89.166006
min                7.000000e+00  ...                                  0.000000
25%                2.438750e+03  ...                                  0.000000
50%                2.071600e+04  ...                                  0.500000
75%                3.888312e+05  ...                                 11.250000
max                3.501041e+07  ...                                389.000000

[8 rows x 10 columns]

In [ ]:
data.head()

                       Name  ... Deaths - newly reported in last 24 hours
0  United States of America  ...                                      387
1                    Brazil  ...                                      389
2                 Argentina  ...                                      273
3                  Colombia  ...                                      218
4                    Mexico  ...                                      245

[5 rows x 12 columns]

In [ ]:
#Import libraries 
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression 
%matplotlib inline

In [ ]:
X = data[['Cases - cumulative total']] 
Y = data['Deaths - cumulative total'] 
lm = LinearRegression() 
lm 
lm.fit(X,Y)
lm.score(X, Y)

0.879731556925817

In [ ]:
X = data[['Cases - cumulative total']] 
Y = data['Deaths - cumulative total'] 
lm = LinearRegression()
lm
lm.fit(X,Y)

Yhat=lm.predict(X)
Yhat[0:5]

array([715801.38585336, 411379.48842034, 107977.29041276, 105025.85347165,
        65811.81441143])

In [ ]:
lm.intercept_

7957.78711918573

In [ ]:
lm.coef_

array([0.02021809])

In [ ]:
X=data.drop(['Name','WHO Region','Deaths - cumulative total'], axis=1)

In [ ]:
lm.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
lm.intercept_

-1227.8920349813343

In [ ]:
lm.coef_

array([ 9.71886043e-03, -3.92296517e+00,  2.62316400e+00,  1.69894848e+01,
       -1.75746010e+01,  2.85531899e+02, -1.75580910e+01, -6.52335474e+02,
        1.65748526e+02])

In [ ]:
# fit the model 
lm.fit(X, data['Deaths - cumulative total'])
# Find the R^2
print('The R-square is: ', lm.score(X, data['Deaths - cumulative total']))

The R-square is:  0.9929765414145906

In [ ]:
from scipy import stats

In [ ]:
pearson_coef, p_value = stats.pearsonr(data['Deaths - cumulative total'], data['Cases - cumulative total'])
print("The Pearson Correlation Coefficient is", pearson_coef, " with a P-value of P =", p_value)

The Pearson Correlation Coefficient is 0.9379400604120807  with a P-value of P = 1.6772550130122968e-26